        <div class="menu">
            <div class="name center"><%= @user.first_name %>
                <div class="right icons"><i class="fa fa-phone" style="padding-right:3rem;" aria-hidden="true"></i><i class="fa fa-video-camera" style="padding-right:2rem;" aria-hidden="true"></i></div>
            </div>
        </div>
    <ol class="chat-msg">
    <li class="other-msg">
        <div class="avatar-msg"><img src="http://i.imgur.com/DY6gND0.png" draggable="false"/></div>
      <div class="msg-msg">
        <p>Hello!</p>
        <p>How are you?</p>
        <time>20:17</time>
      </div>
    </li>
    <li class="self-msg">
        <div class="avatar-msg"><img src="http://i.imgur.com/HYcn9xO.png" draggable="false"/></div>
      <div class="msg-msg">
        <p>Puff...</p>
        <p>I am good bro!</p>
        <p>How are you?</p>
        <time>20:18</time>
      </div>
    </li>
    </ol>
    <div class="typezone">
<form><textarea type="text" placeholder="Say something..."></textarea><div class="send"><i class="material-icons">send</i></div></form>
<div class="emojis"><i class="fa fa-paperclip fa-rotate-90" style="font-size: xx-large;padding-top: 1.5rem; color: #6A6A6A;" aria-hidden="true"></i></div>
</div>