<h3 class="message-header">Your contacts:</h3>
<ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><%= image_tag current_user.avatar.url(:thumb), :class => "circle msg-list-img" %><span class="msg-list-name">Kalpan</span></div>
      <div class="collapsible-body"><p><b>About: </b>Long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long text! <br/><b>Course: </b>Finance</p>
      <a href="#" class="black-text"><i class="material-icons msg-icon tooltipped" data-position="bottom" data-delay="50" data-tooltip="Send message">message</i></a></div>
    </li>
    <li>
      <div class="collapsible-header"><%= image_tag current_user.avatar.url(:thumb), :class => "circle msg-list-img" %><span class="msg-list-name">Jay</span></div>
      <div class="collapsible-body"><p><b>About: </b>Long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long text! <br/><b>Course: </b>Health</p>
      <a href="#" class="black-text"><i class="material-icons msg-icon tooltipped" data-position="bottom" data-delay="50" data-tooltip="Send message">message</i></a></div>
    </li>
    <li>
      <div class="collapsible-header"><%= image_tag current_user.avatar.url(:thumb), :class => "circle msg-list-img" %><span class="msg-list-name">Amandeep</span></div>
      <div class="collapsible-body">
          <p><b>About: </b>Long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long text! <br/>
          <b>Course: </b>Relationship
          </p>
          <div><a href="#" class="black-text"><i class="material-icons msg-icon tooltipped" data-position="bottom" data-delay="50" data-tooltip="Send message">message</i></a></div>
        </div>
    </li>
  </ul>