.row
  .col.s12
    .row
      %h3{ class: 'header'} Notification

      -if @notices.present?
        - for notice in @notices
          = notice.sender.first_name
          - if notice.notification_type == 'payment' and notice.status == 'holded'
            %button{ class: 'btn payment_accept', ref: notice.transaction_id, noticification: notice.id } Accept
            %button{ class: 'btn payment_decline', ref: notice.transaction_id, noticification: notice.id } Decline

      - else
        %p No notification