.mentors
  %span.mentor-label My mentors:
  %br/
  .mentor-list
    %ul.lists
      - for f in @user.follows.mentors
        = link_to user_path(f.follower), style: 'margin-bottom: 5px;' do
          %li
            = image_tag f.follower.avatar.url(:thumb), :class => "circle list-pics"
            %span.mentor-name #{f.follower.first_name}
- if @course_user_relation.present?
  .refund-container
    %a.waves-effect.waves-light.btn.modal-trigger.white-text{:href => "#refund-modal"} Request a refund


