= hidden_field_tag :rating_value, @user.ratings.where('updated_at >= ?', 6.month.ago).average(:value).to_i
- if @course_user_relation.present?
  %li
    .rating.center
      %span{ class: 'rating-star rating-give', num: 5 } ☆
      %span{ class: 'rating-star rating-give', num: 4 } ☆
      %span{ class: 'rating-star rating-give', num: 3 } ☆
      %span{ class: 'rating-star rating-give', num: 2 } ☆
      %span{ class: 'rating-star rating-give', num: 1 } ☆
- else
  %li
    .rating.center
      %span{ class: 'rating-star', num: 5 } ☆
      %span{ class: 'rating-star', num: 4 } ☆
      %span{ class: 'rating-star', num: 3 } ☆
      %span{ class: 'rating-star', num: 2 } ☆
      %span{ class: 'rating-star', num: 1 } ☆