.row.setting-page
  .col.s3.left-content
    = render 'menu'
  .col.s9.right-content
    .row
      = render 'category/category_list'
      %a{ class: 'waves-effect waves-light btn', id: 'refresh-submit' } Update
