.course-container,.payment-container{
    border: 5px solid #E4E8F1;
    box-shadow: 0 4px 8px 0 rgba(228,232,241,0.2), 0 6px 20px 0 rgba(228,232,241,0.19);
    background-color: #F9F9F9;
    margin-top: 2vh;
    border-radius:4px;
    hr{
        display: block;
        height: 5px;
        border: 0;
        border-top: 5px solid #F1EDE4;
        margin: 1em 0;
        padding: 0;
        width: 100%;
    }
    
    h3{
        color: #555555;
        padding-left: 2rem;
    }
    h5{
        color: #8C8C8C;
    }
    h6{
        margin-left: 0.8rem;
        color: #AFAFAF;
    }
}
.collection{
    border: none;
    a{
        background-color: #F9F9F9 !important;
    }
}
.payment-container{
    margin-bottom: 2vh;
}
.payment-pic{
    width: 100px;
    height: 100px;
    margin-left: 1.3rem;
    margin-right: 1.3rem;
    border-radius: 4px;
    
}
.course-details{
    margin-left: 10rem;
}
li{
    display: inline;
}
.prev-page{
    margin-right: 1rem;
}