// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.contact{
    display: inline-block !important;
    color: white !important;
    padding: 0 2rem !important;
    margin: 0 0 2rem 3rem !important;
    height: 36px !important;
    line-height: 38px !important;
    font-size: inherit !important;
    font-weight: inherit !important;
}
.areas-icons{
    width: 2.5rem;
    margin-top: 0.8rem;
}
.select-setting{
    width: 70%;
    margin: 1rem auto;
    input{
        color: #36524E;
    }
}
.course-refund{
    input{
        color: #36524E;
    }
}
#refund-modal{
    .modal-content{
        padding: 2rem !important;
    }
    textarea{
        color: #36524E;
    }
    textarea:focus{
        color: #36524E;
    }
    label{
        color: #36524E;
    }
    .input-field{
        color: #36524E;
    }
}