.overlay-container{
    position: relative;
    height: 70vh;
    margin-top: 2rem;
    background-image: url('wait.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 5px solid #b9d7f7;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(185,215,247,0.2), 0 6px 20px 0 rgba(185,215,247,0.19);
    z-index: 1;
    
}
.overlay{
    background: linear-gradient(-1deg, rgba(3,25,52,0.61) 0%, rgba(4,36,60,0.70) 96%);
    width: inherit;
    height: 100%;
    position: relative;
    z-index: 0;
}
.back-button {
    margin-top: 1rem;
    background-color: #01DEFE;
    color: black;
    font-size: 1.6rem;
}
.back-button:hover {
    background-color: #00C7E4;
}
/*@media only screen and (min-width: 993px) and (min-height: 887px){
    .main-wait{
        top: 10vh !important;
        left: 12vw !important;
    }
}*/
.main-wait{
    padding: 1.5rem;
    z-index: 10;
    position: absolute;
    top: 10vh;
    right: 0;
    left: 0;
    bottom: 0;
    h3,h4{
        color: #01DFFF;
    }
}

/*iphone only*/
@media only screen and (min-width: 375px) and (max-height: 668px){
    .overlay-container{
        height: 32vh;
    }
    /*.main-wait{
        top: 8vh;
        left: 3vw;
    }*/
}
@media only screen and (min-height: 375px) and (min-width: 667px){
    .overlay-container{
        height: 58vh;
    }
    /*.main-wait{
        top: 8vh;
        left: 3vw;
    }*/
}
@media only screen and (min-height: 768px) and (min-width: 1024px){
    /*.overlay-container{
        height: 52vh;
    }*/
}

